[Unit]
Description=Thor lightning detection and alert system
Wants=thor-mqtt.service thor-autodiscovery.service

[Service]
User=thor
Group=thor
WorkingDirectory=/opt/thor
RuntimeDirectory=thor
EnvironmentFile=/etc/thor/.env
ExecStart=/opt/thor/.venv/bin/gunicorn "thor:create_app()"

[Install]
WantedBy=multi-user.target
Also=thor-autodiscovery.service thor-mqtt.service
