[Unit]
Description=Thor lightning detection and alert system

[Service]
User=thor
Group=thor
WorkingDirectory=/opt/thor
ExecStart=/opt/thor/.venv/bin/gunicorn "thor:create_app()"

[Install]
WantedBy=multi-user.target

