<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% assets "scss_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <script src="{{ url_for('static', filename='/vendor/bootstrap/dist/js/bootstrap.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/vendor/font-awesome/js/fontawesome.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/vendor/font-awesome/js/solid.js') }}" defer></script>
</head>
<body>
    <header class="navbar navbar-expand-lg bg-body-tertiary">
        <nav class="container-fluid">
            <a href="{{ url_for('index') }}" class="navbar-brand mb-0 h1">{{ config.get('APP_TITLE', 'Thor') }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainNavContents" aria-controls="mainNavContents" aria-expanded="true"
                    aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
            </button>
            <div id="mainNavContents" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="nav-link {% if url_for(request.endpoint, **request.view_args) == '/' %} active"
                           aria-current="page{% endif %}">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container-xxl margin-tb-1rem">
        {% block content %}{% endblock %}
    </main>

    <footer>

    </footer>

</body>
</html>