{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="bg-body-secondary card weather-card">
            <div class="card-header">
                <span class="fa-solid fa-fw fa-cloud"></span> Weather
            </div>
            <div class="card-body">
                <div class="font-3rem" id="weather-icon">
                    <span class="fa-solid fa-fw fa-spinner fa-spin-pulse"></span>
                </div>
                <div class="texts">
                    <div class="h2" id="weather-temp">0ºC</div>
                    <div class="row justify-content-between">
                        <div class="col" id="weather-headline">Waiting...</div>
                        <div class="col text-align-right text-secondary">
                            <span class="fa-fw fa-solid fa-clock"></span> Updated <time id="weather-updated-time">never</time>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        socket.emit('ask', JSON.stringify(['weather']));

        const weatherHeadline = document.getElementById('weather-headline');
        const weatherIcon = document.getElementById('weather-icon');
        const weatherTemperature = document.getElementById('weather-temp');
        const weatherUpdatedTime = document.getElementById('weather-updated-time');

        const rtf1 = new Intl.RelativeTimeFormat('en', { style: "narrow" });

        let updatedTime = 0;

        socket.on('weather', (msg) => {
            weatherHeadline.innerText = msg.weather.headline;
            weatherTemperature.innerText = `${msg.weather.temperature}ºC`;
            updatedTime = new Date(msg.timestamp * 1000);
            weatherIcon.innerHTML = `<span class="fa-solid fa-fw fa-${msg.icon}"></span>`
        })

        function updateUpdatedTime() {
            const currentDate = new Date();
            const minutesSinceLastUpdate = (updatedTime-currentDate) / 1000 / 60;
            let output;
            if (Math.abs(minutesSinceLastUpdate) <= 1) {
                output = "just now"
            } else {
                output = rtf1.format(Math.round(minutesSinceLastUpdate), 'minutes')
            }

            weatherUpdatedTime.innerText = output;
        }

        setInterval(updateUpdatedTime, 500)
    </script>
{% endblock %}