{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <h1><span class="fa-solid fa-cog"></span> Settings</h1>

    <div class="card-group">
        <div class="card">
            <div class="card-header">
                <span class="fa-solid fa-map-pin"></span> Location
            </div>
            <div class="card-body">
                <p class="card-text">Configure your current location</p>
                <a href="{{ url_for('settings.location') }}" class="stretched-link">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}
