{% extends 'base.html' %}
{% from '_form_helper.html' import render_std_field, render_number_field %}

{% block title %}Location Settings{% endblock %}

{% block content %}
    <h1><span class="fa-solid fa-map-pin"></span> Location Settings</h1>
    <form method=post>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-5">
                <div class="form">
                    {{ render_number_field(form.location_lat, min=-90, max=90, value=0) }}
                    {{ render_number_field(form.location_long, min=-180, max=180, value=0) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}